<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600&amp;subset=latin,cyrillic-ext,cyrillic,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../../components/normalize.css/normalize.css" />
    <link rel="stylesheet" href="../../components/shriek-emoji/dist/react-emoji.css" />
    <link rel="stylesheet" href="/assets/css/bundle.min.css" />
  </head>
  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="../../components/react/react.js"></script>
    <script src="../../components/react/react-dom.min.js"></script>
    <script src="../../components/shriek-emoji/dist/react-emoji.js"></script>
    <div id="app">
      <%-body %>
    </div>
  </body>
</html>
